<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Car Insurance</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderBody()

    <footer class="bg-light text-center text-lg-start position-fixed">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; @DateTime.Now.Year
            <p class="text-dark">Car Insurance</p>
        </div>
        <!-- Copyright -->
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
